.btn-xs {
    padding: 5px 10px;
}

.az-img-user .image-area {
    width: 32px;
    height: 32px;
    background: #b7c2ce;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #332e5f;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
}

.az-img-user .image {
    width: 80px;
    height: 80px;
    /*background: #332e5f;*/
    background: #03386f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 40px;
    text-transform: uppercase;
    overflow: hidden;
}

.mt-negative {
    margin-top: -10px;
}

#data-container {
    border: #b3d5f1 solid 3px;
    border-radius: 5px;
    padding: 15px;
    margin: 0 10px;
    background-color: rgb(0 123 255 / 5%);
}

table#dataTableList {
    background-color: #fff !important;
}

.login-background {
    background-image: url('../img/lggo+board.jpg');
}

#dataTableList_length label {
    color: #03386f;
    font-size: 16px;
    margin-top: 15px;
}

#dataTableList_info {
    color: #03386f;
    font-size: 16px;
}

.az-content-inner-section-title {
    color: #03386f;
    font-weight: 500;
    font-size: 18px;
    text-indent: -1px;
    line-height: 1;
    position: relative;
    background-color: #f8f8f8;
    border: #f2f2f2 dashed 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
}

@media (min-width: 992px) {
    .az-content-inner-section-title {
        margin-bottom: 10px;
    }
}

.dataTables_wrapper .dataTables_processing {
    background: #ffc10780 !important;
    padding: 10px !important;
    width: 50% !important;
    text-align: center !important;
    margin: 0 auto !important;
    top: 0% !important;
    left: 25% !important;
    border: #03386f solid 1px !important;
}
#searchusersdetailscontainer {
    display: block;
    position:relative
}
.ui-autocomplete {
    position: absolute !important;
    list-style: none !important;
    background: #fff !important;
    height:300px!important;
    overflow-y: scroll;
    overflow-x: scroll;
    font-size: 19px !important;
    padding: 12px !important;
    width:700px !important;
}
.ui-menu-item{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.ui-menu-item-wrapper:hover{
    background-color: #efefef;
}
.ui-autocomplete-loading { background:url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center }

.ui-autocomplete td{
    padding-bottom: 0.5em !important;
}
.ui-autocomplete tr:hover{
    background-color: #dee2e6;
}
.select2-dropdown {
    z-index: 1000 !important;
}
